/* Header */
#pieces{
    margin-left: 25vw;
}
#titre{
    font-family: 'Caveat', cursive;
    font-size: 5vw;
    margin-left: 33vw;
}
#nav{
    font-size: 1.8vw;
    background-color: rgb(56, 46, 46);
}
/* Footer */
#foot{
    text-align: center;
    font-size: 1.5vw;
}
#lien{
    padding-bottom: 4vw;
}
hr{
    border:1px black solid ;
}
/* Page Accueil */
#echiquier{
    margin-top: 1vw;
}
#chessboard{
    width: 29vw;
    float: right;
    margin-top:3vw ;
}
.move{
    font-size: 1.8vw;
}
/* Texte Navbarre */
#collien{
    color: blanchedalmond;
}
#collien2{
    color: blanchedalmond;
}
#collien3{
    color: blanchedalmond;
}
#collien4{
    color: blanchedalmond;
}
#collien5{
    color: blanchedalmond;
}
/* Page Tableau de mat */
#Mat{
    margin-left: 33vw;
}
#titlemat{
    text-align: center;
}
.centre{
    margin-left: 11vw;
    font-size: 1.5vw;
}
.centre2{
    margin-left: 7vw;
    font-size: 1.5vw;
}
/* Page Citations */
.cita{
    color: brown;
}
/* Page Variantes */
#fischer{
    width: 21vw;
    height: 21vw;
    float: right;
    margin-top: 3vw;
   margin-left: 5vw;

}
#random{
    margin-top: 1vw;
}
#janus{
    float: right;
    width: 21vw;
    height: 19vw;
    margin-top: 3vw;
}
#echec3{
    float: right;
    width: 22vw;
    height: 21vw;
    margin-top: 3vw;
}
.legende{
    text-align: center !important;
    width: 21vw;
    height: 21vw;
    float: right;
    font-family: 'Slabo 27px', serif;
}
.legende2{
    text-align: center !important;
    float: right;
    width: 21vw;
    height: 19vw;
    font-family: 'Slabo 27px', serif;
}
.legende3{
    text-align: center !important;
    float: right;
    width: 22vw;
    height: 21vw;
    font-family: 'Slabo 27px', serif;
}