#pieces{
    margin-left: 25vw;
}
#titre{
    font-family: 'Caveat', cursive;
    font-size: 400%;
    margin-left: 33vw;
}
#nav{
    font-size: 140%;
    background-color: rgb(56, 46, 46);
}
#echiquier{
    margin-top: 1vw;
}
#chessboard{
    width: 29vw;
    float: right;
    margin-top:3vw ;
}
.move{
    font-size: 1.8vw;
}
#foot{
    text-align: center;
    font-size: 1.5vw;
}
#lien{
    padding-bottom: 4vw;
}
hr{
    border:1px black solid ;
}
#collien{
    color: blanchedalmond;
}
#collien2{
    color: blanchedalmond;
}
#collien3{
    color: blanchedalmond;
}
#collien4{
    color: blanchedalmond;
}
#collien5{
    color: blanchedalmond;
}
#Mat{
    margin-left: 5vw;
}
.cita{
    color: brown;
}
#fischer{
    width: 21vw;
    height: 21vw;
    float: right;
    margin-top: 3vw;
   margin-left: 5vw;
   text-align: center;
}
#random{
    margin-top: 1vw;
}
#janus{
    float: right;
    width: 21vw;
    height: 19vw;
    margin-top: 3vw;
}
#echec3{
    float: right;
    width: 22vw;
    height: 21vw;
    margin-top: 3vw;
}